@import './variables';

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: $button-background;
  color: $button-text;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-background;
  }
}
